name: Package and build alpha version

on:
  push:
    tags:
      - "**alpha**"
      - "**beta**"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Mainline Package
        uses: Witnesscm/packager@master
        with:
          args: -g wrath

      - name: Upload Github Actions
        uses: actions/upload-artifact@v4
        with:
          name: NDui_Plus
          path: .release/*.zip